.share_content {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.share_option {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.share_option:first-child {
  padding-bottom: 1rem;
  border-bottom: 1px #e0e0e0 solid;
}
.share_option:nth-child(2) {
  padding-top: 1rem;
}

.share_icon {
  width: 30px;
}
