.settlementDetail_title {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.settlementDetail_container {
  margin-top: 1rem;
  padding-bottom: 0.5rem;
}

.settlemDetail_content {
  margin-bottom: 0.5rem;
}

.exchangeRate_currency {
  font-weight: 700;
  margin-right: 0.5rem;
}

.exchangeRate_rate {
  font-weight: 700;
  color: var(--pointor-color);
}

.totalSharedExpenseByCurrency {
  margin-top: 0.5rem;
}

.totalSharedExpense {
  padding-top: 0.5rem;
  margin-top: 1rem;
  font-weight: 800;
  border-top: 1px solid var(--gray-color);
}

.description {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: var(--gray-color);
}
