.dashboard {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/* Sidebar */
.sidebar {
  position: relative;
  padding: 1.5rem;
  border-right: 1px solid var(--line-color);
  min-width: 15rem;
}

.tripInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  
  border: 1px solid var(--line-color);
  overflow: hidden;
  border-radius: 8px;
  
  cursor: pointer;
  background-size: cover;
  background-position: center;
  height: 8rem;

  position: relative;
  padding: 5px;
}

.tripInfo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 5px;
}

.tripInfo .accountBook_list_item_detail {
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #fff;
  align-items: flex-start;
  width: 100%;
}

.tripInfo .accountBook_list_title_and_flag {
  display: flex;
  align-items: center; 
}

.tripInfo .accountBook_list_flag img {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.tripInfo .accountBook_list_title {
  text-align: left;
  font-weight: 500;
  font-size: 0.9em;
  margin-bottom: 0.2rem;
}

.tripInfo .accountBook_list_dates {
  font-size: 0.6em;
}

.tripInfo .accountBook_list_edit {
  position: absolute;
  font-size: 0.5em;
  bottom: 0;
  right: 0;
  padding: 1rem;
  z-index: 2;
}

.tripInfo .accountBook_list_edit img {
  width: 0.5rem;
  margin-right: 0.3rem;
}

.dateButtons {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.dateButtons button {
  margin-top: 0.5rem;
  padding: 0.8rem 1.5rem;
  background-color: var(--light-color);
  color: #000;
  font-weight: 700;
  font-size: 0.9em;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tripDate {
  padding-left: 1rem;
  font-weight: 600;
  color: var(--main-color);
  font-size: 0.8em;
}

.dateButtons button.selected .tripDate,
.dateButtons button.selected .selectedIcon {
  color: #fff;
}

.selectedIcon {
  color: #000;
  margin-left: auto;
}

.dateButtons button.selected {
  background-color: var(--main-color);
  color: #fff;
}

.accountbook_icons {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 0.5em;
  font-weight: bolder;
}

.accountbook_icons button {
  padding: 1rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--main-color);
}

.accountbook_icons button:hover {
  background-color: var(--second-color);
}

.accountbook_icons img {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}

/* ExpenseList */
.expenseListContainer {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

.filterButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}

.filterButtons button {
  background-color: var(--light-color);
  color: #000;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 5rem;
}

.filterButtons button.selectedButton {
  background: var(--main-color);
  color: #fff;
}

.expenseList {
  overflow-y: auto;
}

.expenseDate {
  font-weight: bold;
  margin: 1rem 0 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--light-color);
  font-size: 0.8rem;
}

.expenseItem {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 2fr 5fr 1fr;
  gap: 10px;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.currency,
.amount,
.description {
  margin-left: 1rem;
}

.type {
  color: var(--main-color);
}

.categoryImg {
  width: 2rem;
  height: 2rem;
}

.amount {
  text-align: right;
}

.expenseImg {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--line-color);
}
