.accountBook_list_page {
  width: 100%;
}

/* item 들을 grid 로 구분*/
.accountBook_list_grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.accountBook_list_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.sort_search_container {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  margin-bottom: 1rem;
}

.search_container {
  width: 100%;
  margin-right: 0.5rem;
}

.search {
  width: 100%;
  margin: 0;
}

.sortType {
  max-width: 20rem;
  height: 80%;
  font-size: 1rem;
  z-index: 4;
}

:global(.css-t7pedk-singleValue) {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  width: 350px;
}

/*삭제*/
.action_buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 9rem;
  font-size: 0.9rem;
}

.confirm_delete_button {
  margin-top: 0;
  margin-left: 0.5rem;
}

.select_overlay {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 3;
}

.no_account_book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: var(--text-color);
  font-size: 1.2rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--light-color);
}

.no_account_book_icon {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--second-color);
}

/* 반응형 디자인 */
@media (max-width: 860px) {
  .accountBook_list_grid_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 690px) {
  .accountBook_list_grid_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .accountBook_list_grid_container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 530px) {
  .accountBook_list_header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "sortType action_buttons"
      "search_container search_container";
    gap: 0.5rem;
  }

  .sortType {
    grid-area: sortType;
  }

  .action_buttons {
    grid-area: action_buttons;
    justify-self: end;
  }

  .search_container {
    grid-area: search_container;
    margin-right: 0;
  }
}