.accountBook_list_page {
    padding: 0.5rem;
}

  /* item 들을 grid 로 구분*/
  .accountBook_list_grid_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.4em;
  }
  
  /* item 이미지*/
  .accountBook_list_grid_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
    border: 1px solid var(--line-color);
    overflow: hidden;
    border-radius: 8px;
    
    cursor: pointer;
    background-size: cover;
    background-position: center;
    height: 170px;

    position: relative;
    padding: 5px;
  }

  /*item 이미지 투명도 조정*/
  .accountBook_list_grid_item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 5px;
  }
  
  /*item 정보*/
  .accountBook_list_item_detail{
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: rgb(254, 254, 254);
    align-items: flex-start;
    width: 100%;
  }

  .accountBook_list_title_and_flag {
    display: flex;
    align-items: center; 
  }

  .accountBook_list_flag img{
    width: 30px;
    height: 23 px;
    margin-right: 10px;
    border-radius:10%;
  }

  .accountBook_list_title{
    text-align: left;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 5px;
  }

  .accountBook_list_dates{
    font-size: 0.8em;
  }

  .accountBook_list_amount{
    position: absolute;
    font-size: 0.8em;
    bottom: 12px;
    right: 15px;
    z-index: 2;
  }

  /*삭제*/
  .action_buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    width: 10rem;
  }
  
  .delete_button {
    margin-top: 0;
  }

  .confirm_delete_button {
    margin-top: 0;
    margin-left: 0.5rem;
  }

  .select_overlay {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 3;
  }