.dashboard {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/* Sidebar */
.sidebar {
  position: relative;
  padding: 1.5rem;
  border-right: 1px solid var(--line-color);
  min-width: 15rem;
}

.date_buttons {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.date_buttons button {
  margin-top: 0.5rem;
  padding: 0.8rem 1.5rem;
  background-color: var(--light-color);
  color: var(--text-color);
  font-weight: 700;
  font-size: 0.9em;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tripDate {
  padding-left: 1rem;
  font-weight: 600;
  color: var(--main-color);
  font-size: 0.8em;
}

.date_buttons button.selected .tripDate {
  color: var(--light-color);
}

.date_buttons button.selected {
  background-color: var(--main-color);
  color: var(--background-color);
}

.accountbook_icons {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 0.6em;
  font-weight: 800;
  color: var(--text-color);
  padding: 1.5rem 0.3rem;
}

.accountbook_icons button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: var(--main-color);
  margin-bottom: 0.2rem;
}

.accountbook_icons button:hover {
  background-color: var(--second-color);
}

.accountbook_icons img {
  display: block;
  width: 80%;
}

/* ExpenseList */
.expenseList_container {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

.expenseList_header {
  display: flex;
  justify-content: space-between;
}

/* 경비구분 */
.filter_buttons {
  flex: 2;
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}

.filter_buttons button {
  background-color: var(--light-color);
  color: var(--text-color);
  box-shadow: 1px 1px 1px 1px var(--shadow-color);
  border-radius: 0.5rem;
  width: 4rem;
  font-size: 0.7em;
}

.filter_buttons button.selected_button {
  background: var(--main-color);
  color: var(--background-color);
}

/* 정산하기 */
.settlement_button {
  margin-left: auto;
}

.settlement_button button {
  box-shadow: 1px 1px 1px 1px var(--shadow-color);
  border-radius: 2rem;
  width: 4rem;
  font-size: 0.7em;
}

.expenseList {
  overflow-y: auto;
}

.expenseDate {
  font-size: 0.8rem;
  font-weight: 700;
  margin: 1rem 0 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--light-color);
  color: var(--text-color);
}

.expenseItem {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 2fr 5fr 1fr;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 0.9em;
  font-weight: 500;
  text-align: center;
}

.currency,
.amount,
.description {
  margin: 0.5rem;
}

.type {
  color: var(--main-color);
}

.categoryImg {
  width: 1.5rem;
}

.amount {
  text-align: right;
}

.expenseImg {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--gray-color);
}

.description{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}