.inputGroup {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  align-items: center;
}

.inputGroup label {
  font-size: 0.8em;
  font-weight: 600;
}

.selectedCountry {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  margin-top: 0.2rem;
  width: 100%;
  border: 1px solid var(--line-color);
  border-radius: 0.3rem;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: border-color 0.3s;
}

.selectedCountry img.flag {
  width: auto;
  height: 1rem;
  margin-right: 10px;
}

.selectedCountry span {
  font-size: 0.8rem;
}

.datesRow {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 0.5rem;
  align-items: center;
}

.datesRow label {
  grid-column: 1 / 2;
  font-size: 0.8em;
  font-weight: 600;
}

.datesRow input {
  padding: 0.5rem;
  border: 1px solid var(--line-color);
  border-radius: 5px;
}

.separator {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.error {
  color: var(--pointor-color);
  font-size: 0.8rem;
  text-align: right;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modifyButton,
.addButton {
  background-color: var(--main-color);
  color: #fff;
}

.modifyButton:hover,
.addButton:hover {
  background-color: var(--second-color);
}

.deleteButton {
  background-color: var(--pointor-color);
  color: #fff;
}

.deleteButton:hover {
  opacity: 0.8;
}

.imageContainer {
  display: flex;
  text-align: center;
  margin-bottom: 16px;
  max-height: 250px;
  position: relative;
}

.hiddenInput {
  display: none;
}

.imageWrapper {
  margin: 1rem 0;
  /* padding: 0.5rem; */
  border: 1px solid var(--line-color);
  background-color: var(--line-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  text-align: center;
  position: relative;
  width: 100%;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.addPhotoContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  pointer-events: none;
}

.addPhoto_imageContainer {
  margin-bottom: 8px;
}

.addPhoto_image {
  width: 20%;
}

.addPhoto_text {
  color: white;
  text-align: center;
}

.budgetSummary {
  margin-top: 1rem;
  border-top: 1px solid var(--line-color);
  padding-top: 0.3rem;
  font-size: 0.8rem;
}

.budgetDetailContainer {
  background: var(--line-color);
  height: 10rem;
  border-radius: 5px;
  overflow-y: auto;
  padding: 1rem;
}

.budgetDetail {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.budgetDetail:hover {
  color: var(--pointor-color);
}

.totalBudget {
  margin-top: 1rem;
  font-weight: 700;
  text-align: right;
  color: var(--pointor-color);
}
