.modal_content {
  font-size: 0.8em;
  font-weight: 700;
}

.tripInfo_form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.tripInfo_formGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0;
}

.tripInfo_formGroup label {
  flex: 1;
  margin-right: 1rem;
  white-space: nowrap;
}

.selectedCountry {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  margin-top: 0.2rem;
  width: 100%;
  border: 1px solid var(--line-color);
  border-radius: 0.3rem;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: border-color 0.3s;
}

.selectedCountry img.flag {
  width: auto;
  height: 1rem;
  margin-right: 10px;
}

.selectedCountry span {
  font-size: 0.8rem;
}

.datesRow {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 0.5rem;
  align-items: center;
}

.datesRow label {
  grid-column: 1 / 2;
  font-size: 0.8em;
  font-weight: 600;
}

.datesRow input {
  padding: 0.5rem;
  border: 1px solid var(--line-color);
  border-radius: 5px;
}

.separator {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.button_container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

/* 이미지 업로드 */
.image_container {
  display: flex;
  text-align: center;
  margin: 0.6rem 0;
  max-height: 10rem;
  width: 100%;
  position: relative;
}

.hidden_input {
  display: none;
}

/* 업로드 이미지 preview */
.upload_image_wrapper {
  border: 1px solid var(--line-color);
  background-color: var(--gray-color);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 100%;
  height: 10rem;
}

.upload_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

/* 사진 업로드 버튼 */
.addPhoto_container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  font-size: 0.6rem;
  font-weight: 600;
  margin: 1rem;
  padding: 0.5rem;
  color: #ffffff;
  border-radius: 0.5rem;
  background-color: var(--main-color);
  cursor: pointer;
}

.addPhoto_image {
  width: 0.7rem;
  cursor: pointer;
  margin-right: 0.2rem;
}

button {
  margin-top: 0.5rem;
}