.modal_content {
  margin-top: 1.5rem;
  font-size: 0.8em;
  font-weight: 600;
}

.category_container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.6em;
  color: var(--text-color);
  padding: 0.5rem 0;
  border-top: 1px solid var(--line-color);
  border-bottom: 1px solid var(--line-color);
}

.categoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.categoryItem img {
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: 0.5rem;
}

.date_group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.radio_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.budgetType {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.paymentMethods {
  display: flex;
  gap: 1rem;
}

.paymentMethods img {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

.addExpense_form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.addExpense_formGroup {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.amount_input {
  width: 100%;
}

.imageUpload {
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 10rem;
  border: 1px solid var(--line-color);
  background-color: var(--gray-color);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.imgUpload_label {
  cursor: pointer;
}

.hidden_input {
  display: none;
}

.image_preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.textArea {
  padding: 0.5rem;
  border: 1px solid var(--line-color);
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  resize: none;
  width: 100%;
}

.submit_button {
  display: flex;
  justify-content: center;
}