:root {
    --sidebar-width: 260px;
    --sidebar-padding-left: 60px;
    --color:#2A52BE;
  }
 
  .sidebar_container {
    display: flex;
    width: var(--sidebar-width);
    height: 70vh;
    flex-direction: column;
    background-color: white;
    padding-left: 55px;
    position: relative;
    border-right: 1px solid #E8E8E8;
  }


  .sidebar_header {
   font-size: 28px;
   font-weight: bold;
   list-style: none;
   margin-bottom: 2.5%;
   letter-spacing: -2px;
  }
  
  .sidebar_subheader {
    font-size: 14px;
    margin-bottom: 2.7rem;
    color: lightgrey;
    list-style: none;
    letter-spacing: -1px;
  }
  
  .sidebar_item {
    padding-bottom: 1.1rem;
    list-style: none;
    letter-spacing: -1.5px;
    margin-left: 3px;
}
 
.nav_link{
      text-decoration: none;
      color:var(--color);
      &:hover{
          font-weight: bold;
      }
  }

  .nav_link_active {
    font-weight: bold;
  }