.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
<<<<<<< Updated upstream
	height: 80px;
	padding: 1rem;
}

.logo {
    display: flex;
    cursor: pointer;
    padding: 1rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.goAboutUs {
    align-items: center;
    width: 300px;
    max-width: 60%; 
    margin-left: auto;    
}
=======
    width: 100%;
    padding: 1rem;
  }
  
  .logo {
    cursor: pointer;
    padding: 1rem;
  }
  
  .userActions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
  }
  
  .welcomeMessage {
    font-size: 0.8rem;
    color: #E89B29;
  }
>>>>>>> Stashed changes

  .welcomeMessage img{
    height: 0.8rem;
    padding-right: 0.5rem;
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
  }
  
  .nav a {
    font-size: 0.8rem;
    text-decoration: none;
<<<<<<< Updated upstream
}

.goAboutUs a:hover{
=======
    margin: 1rem;
>>>>>>> Stashed changes
    font-weight: bold;
    color: inherit;
  }
  