.header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 100%;
    padding: 1rem;
  }
  
  .logo {
    cursor: pointer;
    padding: 1rem;
  }
  
  .userActions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
  }
  
  .welcomeMessage {
    font-size: 0.8rem;
    color: #E89B29;
  }

  .welcomeMessage img{
    height: 0.8rem;
    padding-right: 0.5rem;
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
  }
  
  .nav a {
    font-size: 0.8rem;
    text-decoration: none;
    margin: 1rem;
    font-weight: bold;
    color: inherit;
  }