/* ScheduleDetail.module.css */
.popupContainer {
  position: absolute;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popupContent {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  height: 700px; /* 세로로 더 길게 */
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  border: 1px solid #e0e0e0; /* 연한 회색 테두리 추가 */
}

.header {
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.modalHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem; /* 여백 추가 */
  margin-bottom: 1rem;
}

.modalImage img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.modalTabs {
  margin-bottom: 1rem;
}

.modalExpenses {
  margin-bottom: 1rem;
  text-align: left; /* 왼쪽 정렬 */
  padding: 0 10px; /* 좌우 패딩 */
}

.modalExpenses p {
  margin: 0.5rem 0;
}

.modalFooter {
  margin-top: 1rem;
  text-align: left; /* 왼쪽 정렬 */
  padding: 0 10px; /* 좌우 패딩 */
}

.modalButtons button {
  margin: 0 5px;
  width: 100px; /* 버튼 크기 조정 */
}
