/* 간격조정 */
.calendar_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  height: 100%;
  transition: grid-template-columns 0.3s ease-in-out;
}

 /* 팝업이 나타날 때 두 개의 컬럼 */
.calendar_container.show_popup {
  grid-template-columns: 3fr 1fr; 
 
}

.calendar {
  border: 1px solid #e0e0e0;
  border-radius: 30px;
  padding: 30px; /* 전체 패딩 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-height: auto;
  margin: 0 auto;
  background: white;
  transition: width 0.3s ease-in-out;
}

/* 팝업이 나타날 때 캘린더의 너비를 줄임 */
.calendar_container.show_popup .calendar{
  width: auto;
}

/* 년월 부분 */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;
}

.yearSelect {
  font-size: 0.95rem;
  padding: 5px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  &:hover{
    cursor: pointer;
  }
}

.yearSelect:focus {
  border-color: var(--main-color);
  outline: none;
}

.option {
  font-size: 0.95rem;
  padding: 5px;
}


.todayButton {
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 7px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 0.7rem;
  margin-left: -20px;
  margin-right: 10px;
}

.todayButton:hover {
  background-color: var(--second-color);
}

.header_years_month{
  font-size: 1.5rem;
  color: #727272b3;
  font-weight: 550;
}

.navButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.days {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

/* 세부조정 */

.day {
  flex: 1;
  text-align: center;
  font-weight: 530;
  color: rgb(182, 192, 217);
  font-size:1rem;
  margin: 0 5px;
}

.day:first-child {
  color: rgb(251, 15, 15);
}

.day:last-child {
  color: #4C66F8;
}

.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row {
  display: flex;
  width: 100%;
}

.number {
  font-size: 0.8rem;
  font-weight: 600;
  z-index: 1;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /*셀 안의 내용을 상하 분배*/
  text-align: left;
  cursor: pointer;
  height: 110px;
  flex:1;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  min-width: 14.28%; /* 7개의 셀을 균등하게 나누기 위해 설정 */
}

.cell_total_amount {
  font-size: 0.7rem;
  font-weight: 500;
  color: #000000;
  margin-top: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event {
  position: relative;
  z-index: 2;
  margin-top: auto;
  font-size: 0.7rem;
  font-weight: 550;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin: 0;
}

.cellWithEvent{
  position: relative;
}

.cellWithEvent::after {
  content: '';
  display: block;
  width: 100%;
  height: 15px;
  background-color: rgba(248, 255, 173, 0.882);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.disabled {
  color: #ccccccbb;
}

/* 오늘 날짜 표시 */
.selected {
  position: relative; 
}

.number {
  position: relative;
  z-index: 2;
}

/* today 꾸미기 투꾸 */
.selected::before{
  content: '🐷';
  display: block;
  width: 10px;
  height: 10px;
  background-color: transparent; 
  border-radius: 0;
  position: absolute;
  top: 30%;
  left: 9%;
  transform: translate(-50%, -50%);
  z-index: 1;
}


/* 작은 화면에서 팝업이 나왔을 때 */
@media (max-width: 768px) {
  .calendar_container.show_popup {
    grid-template-columns: 1fr;
  }
  
  .schedule_detail_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 1000;
    overflow-y: auto;
  }
  
  .calendar {
    width: 100%;
    margin: 0;
  }
}