.modalOverlay {
  position: absolute;
  width: 76rem; /* 가로 스크롤 안 생기는 최소 크기 */
  height: auto;
  z-index: 1000;
  }

  .modalContent {
    background: var(--background-color);
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 20%;
    max-height: 65rem;
    position: relative;
    overflow: hidden;
    font-size: 0.8rem;


     @media screen and (max-width: 530px)  {
       width: 25%;
       height: 10%;
       font-size: 0.7rem;

       .flag {
        width: 13px;
        height: 13px;
        margin-right: 10px;
        border-radius: 50%; 
      }

      .modalSearchInput {
        color: var(--text-color);
        font-size: 0.8rem;
      }

      .closeButton{
        margin-top: 0.80rem;
        right: 32px;
      }
    
      .modalSearchInput{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .dropdownItem {
        padding: 10px;
        margin: 1px 0;
      }
    }

    @media (min-width: 531px) and (max-width: 860px) {

      .modalSearchInput{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .dropdownItem {
        padding: 10px;
        margin: 1px 0;
      }

      .modalSearchInput {
        font-size: 0.8rem;
      }

    }
  }
 
  
  .closeButton {
    background: none;
    border: none;
    font-size: 1.5em;
    position: absolute;
    right: 36px;
    margin-top: 6px;
    cursor: pointer;
    color:rgb(147, 147, 147);
    width: 10px !important;
    height: 10px !important;
  }
  
  .modalSearchContainer {
    display: flex;
    flex-direction: column;
  }
  
  .modalSearchInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
  }

  .countryFlagsContainer {
    height: 150px; 
    overflow-y: auto; 
  }
  
  .countryFlags {
    display: flex;
    flex-direction: column;
  }
  
  .dropdownItem {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border-bottom: 1px solid #eee; /* 목록 사이에 구분선을 추가 */
  }
  
  .dropdownItem:hover {
    background-color: var(--shadow-color)/* 호버 효과 추가 */
  }
  
  .flag {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%; /* 이미지가 원형으로 표시되도록 함 */
  }
  
  .customScrollbar {
    overflow-y: auto;
  }
  

