.modalContent {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* 이미지 업로드 */
.image_container {
  display: flex;
  text-align: center;
  margin-bottom: 16px;
  max-height: 250px;
  position: relative;
}


.hidden_input {
  display: none;
}

/* 업로드 이미지 preview */
.upload_image_wrapper {
  margin: 1rem 0;
  border: 1px solid var(--line-color);
  background-color: var(--line-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  text-align: center;
  position: relative;
  width: 100%;
}

.upload_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

/* 사진을 추가하세요 */
.addPhoto_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  pointer-events: none;
}

.addPhoto_image_container {
  margin-bottom: 8px;
}

.addPhoto_image {
  width: 20%;
}

.addPhoto_text {
  color: var(--text-color);
  text-align: center;
}

/* 지출 메모 */
.expenseMemo {
  padding: 0.5rem;
  border: 1px solid var(--line-color);
  border-radius: 5px;
  margin-bottom: 1rem;
  resize: none;
  width: 100%;
  height: 5rem;
}

.expenseMemo input {
  border: none;
  outline: none;
}

/* 지출 디테일 - 경비,결제방식,금액 */
.expenseDetail {
  display: flex;
}

.expenseDetail span {
  margin-right: 1rem;
}

.expenseAmount {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0.5rem;
  align-items: center;
}

.expenseTitle {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
}

.expenseDate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
}

/* 카테고리 */
.categoryContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 0.6em;
  color: #ccc;
  padding: 0.5rem 0;
  border-top: 1px solid var(--line-color);
  border-bottom: 1px solid var(--line-color);
}

.categoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.categoryItem img {
  width: 1.5rem;
  height: 1.5rem;
}

.selected {
  border-bottom: 2px solid var(--text-color);
}

.readOnlyInput {
  border: none !important;
  background-color: transparent !important;
  pointer-events: none !important;
}

.categoryImage {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.paymentMethodImage {
  cursor: pointer;
}

.readOnlyInput {
  border: none;
  background: none;
  box-shadow: none;
  pointer-events: none;
}
