.modal_content {
  font-size: 0.8em;
  font-weight: 700;
}

.categoryImage {
  width: 1.5rem;
  height: 1.5rem;
}

.expenseTitle {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0.5rem;
}

.titleInput {
  font-weight: 800;
  font-size: 0.8em;
  padding: 0.5rem 0.7rem;
  width: 90%;
}

.expenseDate {
  display: flex;
  width: 70%;
  margin-right: auto;
}

.image_container::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--line-color);
}

/* 이미지 업로드 */
.image_container {
  display: flex;
  text-align: center;
  margin: 0.6rem 0;
  max-height: 10rem;
  width: 100%;
  position: relative;
}

.hidden_input {
  display: none;
}

/* 업로드 이미지 preview */
.upload_image_wrapper {
  border: 1px solid var(--line-color);
  background-color: var(--gray-color);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 100%;
  height: 10rem;
}

.upload_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

/* 사진 업로드 버튼 */
.addPhoto_container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  font-size: 0.6rem;
  font-weight: 600;
  margin: 1rem;
  padding: 0.5rem;
  color: #ffffff;
  border-radius: 0.5rem;
  background-color: var(--main-color);
  cursor: pointer;
}

.addPhoto_image {
  width: 0.7rem;
  cursor: pointer;
  margin-right: 0.2rem;
}

/* 지출 메모 */
.textArea {
  width: 100%;
  height: 5.1rem;
  padding: 0;
  border: 1px solid var(--line-color);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--background-color);
}

.textArea textarea {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  resize: none;
  overflow-y: auto;
  border: none;
  border-radius: 0.5rem;
  color: var(--text-color);
  background-color: var(--background-color);
}

/* 지출 디테일 - 경비, 결제방식, 금액 */
.expenseDetail {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  align-items: center;
  margin-bottom: 1rem;
}

.expenseType {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;
  font-weight: 700;
}

.isShared {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.7em;
  white-space: nowrap;
  gap: 0;
  height: 1rem;
  margin-right: auto;
}

.isShared input[type="radio"] {
  transform: scale(0.8);
  margin-right: 0.2rem;
}

.selectedExpenseType {
  color: var(--gray-color);
}

.paymentMethods {
  display: flex;
  align-items: center;
  margin-left: 2%;
  gap: 0.5rem;
}

.paymentMethodImage {
  cursor: pointer;
  height: 1rem;
}

.expenseAmount {
  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: 0.5rem;
}

.expenseAmount input {
  text-align: right;
  font-size: 0.8em;
  font-weight: 600;
}

/* 읽기 모드 */
.readOnlyInput {
  border: none !important;
  background-color: transparent !important;
  pointer-events: none !important;
}

/* 버튼 */
.cancelAndDelete {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
  
.cancel_button,
.delete_button {
  flex: 1;
}

.delete_button {
  background-color: var(--gray-color) !important;
}