.navbar {
  display: flex;
  border-bottom: 1px solid var(--line-color);
  margin: 0 2rem;
  padding: 0 0.5rem;
}

.menuItem {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  position: relative;
  font-size: 0.9em;
  font-weight: 600;
}

.menuItem.active {
  background-color: var(--main-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  color: #fff;
}

.hidden {
  display: none;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
  font-size: 0.8em;
}

.dropdownIcon {
  position: absolute;
  justify-content: center;
  margin-top: 1.5px;
  right: 15px; 
  font-size: 0.8em;
  display: none;
}

/* 네비게이션바 반응형 변경: 활성 메뉴 선택시 나머지는 toggle */
@media screen and (max-width: 540px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    border-top: 1px solid var(--line-color);
    padding: 0;
  }

  .menuItem {
    width: 100%;
    margin: 0.2rem 0;
  }

  .menuItem.active {
    display: block; /* 활성 메뉴는 항상 표시 */
    border-radius: 0.2rem;
  }

  .menuItem:not(.active) {
    display: none; /* 비활성 메뉴는 숨김 */
  }

  .menuItem:hover .dropdown,
  .menuItem.active .dropdown {
    display: block; /* 반응형일 때만 드롭다운 표시 */
  }

  .dropdown {
    display: block; /* 드롭다운 표시 */
    position: static;
    background-color: var(--background-color);
    border: none;
    width: 100%;
    transition: height 1s ease;
    border-top: 1px solid var(--line-color);
  }

  .dropdownIcon {
    display: inline; /* 반응형일 때만 드롭다운 표시 */
  }
}