/* LoginPage.module.css */
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login_content {
  width: 400px;
  padding: 20px;
}

.login_header {
  text-align: center;
  margin-bottom: 20px;
}

.login_header p:first-of-type {
  font-weight: bold;
  font-size: 2em;
  padding: 0%;
  letter-spacing: -4px;
  margin-bottom: 1%;
}

.login_header p:last-of-type {
  color: #909090;
  font-size: 15px;
  padding: 1rem;
  letter-spacing: -1px;
}

.login_title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.login_subtitle {
  font-size: 14px;
  color: #666;
}

.login_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login_field {
  margin-bottom: 10px;
}

.login_title {
  font-size: 13.5px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #333;
  margin-top: 2%;
  margin-bottom: 1%;
}

.login_input {
  width: 100%;
  padding: 2.5%;
  margin-top: 1%;
  color: rgb(145, 145, 145);
  border: 1px solid #2a52be;
  border-radius: 5px;
}

.login_actions {
  margin-top: 30px;
  text-align: center;
}

.login_button {
  width: 50%;
  padding: 10px;
  background-color: #2a52be;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login_button:hover {
  background-color: #1d3a8a;
}

.login_social {
  text-align: center;
  margin: 20px 0;
}

.login_socialButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.login_socialButton {
  background: none;
  border: none;
  cursor: pointer;
}

.login_signup {
  text-align: center;
  margin-top: 20px;
}

.login_signupText {
  margin-right: 5px;
}

.login_signupButton {
  background: none;
  border: none;
  color: #2a52be;
  cursor: pointer;
}

.login_signupButton:hover {
  text-decoration: underline;
}
