.signup_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_container {
  width: 400px;
  margin: 0 auto;
}

.signup_header {
  text-align: center;
  margin-bottom: 2rem;
}

.signup_header h2 {
  color: var(--main-color);
  margin-bottom: 0.5rem;
  text-align: center;
}

.signup_header p {
  color: var(--gray-color);
  font-size: 0.8em;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center;
}

.signup_form {
  display: flex;
  flex-direction: column;
}

.signup_formGroup {
  position: relative;
}

.signup_id {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  gap: 0.5rem;
}

.signup_id button {
  margin-top: 0.2rem;
}

.signup_formGroup label {
  display: block;
  font-weight: 600;
  font-size: 0.8em;
  margin-bottom: 0.1rem;
}

.error_container {
  height: 1.5rem;
}

.signup_input_seepw_container {
  position: relative; 
  width: 100%; 
}
.toggle_pw_button {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
}

/*비밀번호 확인 컨테이너*/
.signup_input_seecheckpw_container {
  position: relative;
}

.signup_input_checkpw {
  color: rgb(145, 145, 145);
  border: 1px solid #657df9;
  width: 500px;
  border-radius: 5px;
  padding: 2%;
  margin-top: 1%;
}

.toggle_checkpw_button {
  position: absolute;
  right: 40px;
  top: 45%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
}
