.modal_content {
  margin-top: 1.5rem;
  font-size: 0.9em;
  font-weight: 600;
}

.expenseTitle_container {
  display: flex;
  align-items: center;
  width: 100%;
}

.expenseTitle {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.expenseTitle > Input {
  font-size: 1.2em;
  font-weight: 600;
}

.category {
  margin-right: 0.6rem;
  padding-bottom: 1.2rem;
}

.categoryImage {
  width: 1.5rem;
}

.updateExpense_title_count {
  font-size: 0.7em;
  text-align: right;
  margin-left: auto;
  letter-spacing: -1px;
  font-weight: 500;
  color: var(--gray-color);
}

.date_group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.date input,
.time input {
  padding: 0.4rem;
  cursor: pointer;
}

/* 지출 디테일 - 경비, 결제방식, 금액 */
.radio_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.budgetType {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.selectedBudgetType {
  color: var(--main-color);
  font-size: 1.1em;
}

.budgetType input {
  cursor: pointer;
}

.paymentMethods {
  display: flex;
  gap: 1rem;
}

.paymentMethods img {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

.updateExpense_form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  margin: 0.5rem 0;
}

.updateExpense_formGroup {
  display: flex;
  flex-direction: column;
}

.curUnit_input .label,
.amount_input .label {
  margin: 0.2rem;
  font-size: 0.8em;
}

.amount_input {
  width: 100%;
  gap: 0.5rem;
}

/* 이미지 업로드 */
.image_container {
  display: flex;
  text-align: center;
  margin: 0.9rem 0;
  max-height: 10rem;
  width: 100%;
  position: relative;
}

.hidden_input {
  display: none;
}

/* 업로드 이미지 preview */
.upload_image_wrapper {
  border: 1px solid var(--line-color);
  background-color: var(--gray-color);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 100%;
  height: 10rem;
}

.upload_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

/* 사진 업로드 버튼 */
.addPhoto_container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  font-size: 0.6rem;
  font-weight: 600;
  margin: 1rem;
  padding: 0.5rem;
  color: #ffffff;
  border-radius: 0.5rem;
  background-color: var(--main-color);
  cursor: pointer;
}

.addPhoto_image {
  width: 0.7rem;
  cursor: pointer;
  margin-right: 0.2rem;
}

/* 지출 메모 */
.textArea {
  width: 100%;
  height: 5.1rem;
  padding: 0;
  border: 1px solid var(--line-color);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--background-color);
  font-size: 0.8em;
}

.textArea textarea {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  resize: none;
  overflow-y: auto;
  border: none;
  border-radius: 0.5rem;
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: 1em;
}

/* 읽기 모드 */
.readOnlyInput {
  pointer-events: none !important;
}

/* 버튼 */
.cancelAndDelete {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.cancel_button,
.delete_button {
  flex: 1;
}

.delete_button {
  background-color: var(--gray-color) !important;
}