/* Import react-calendar styles */
@import url('../../../node_modules/react-calendar/dist/Calendar.css');

.mycalendar_page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.mycalendar_sidebar {
  width: 250px; /* 사이드바 너비 설정 */
  background-color: #fff; /* 배경 색 설정 */
}

.mycalendar_container {
  position: relative;
  width: 90%;
  margin: auto; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white; /* 배경 색 추가 */
  padding: 20px;
  border-radius: 10px; /* 둥근 테두리 추가 */
}

.react-calendar {
  width: 100%;
  height: 100vh;
  background: white;
}

/* 네비게이션 배경 색 변경 */
/* 네비게이션 텍스트 색 변경 */
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
  background-color: #ffffff; 
  color: rgb(78, 78, 78); 
  font-weight: bold;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  color: inherit;
  border: none; 
  padding: 10px; 
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f0f0f0; /* 호버 시 색상 변경 */
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
  background-color: #ffffff; 
  padding: 10px 0; 
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

/* .react_calendar__monthView__weekdays__weekday--weekend abbr[title="일요일"] {
    color: #ff0000;
  } */

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
  border: 1px solid transparent; /* 테두리 추가 */
  border-radius: 50%; /* 둥근 테두리 추가 */
  transition: background-color 0.3s, border 0.3s; /* 애니메이션 추가 */
}


.react-calendar__tile--hasActive {
  background: #ebf5ff;
}

/*년도 클릭했을 때 현재 달*/
.react-calendar__tile--now {
  background: #d2e3f4;
}

/*년도 클릭했을 때 다른 달로 호버 */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6; /* 호버 시 배경 색 변경 */
}



.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}



.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
  border-radius: 5%;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.mycalendar_today {
  color: rgb(255, 255, 255);
  font-size: 12px;
  margin-top: 2px;
}

.mycalendar_today_dot {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.mycalendar_click_today {
  padding: 10px 20px;
  background-color: #006edc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mycalendar_click_today:hover {
  background-color: #005bb5;
}