
/* 스크롤바 */
.ScrollbarsCustom-Track, 
.ScrollbarsCustom-TrackY{
 background-color: rgb(246, 246, 246) !important;
 height: calc(100% - 10px); 
}

.ScrollbarsCustom-Thumb, 
.ScrollbarsCustom-ThumbY{
  background-color: var(--main-color) !important;
}
