:root {
    --fc-today-bg-color: rgba(226, 230, 228, 0.274);
}



  .fc {
    width: 100% !important;
    height: 95% !important;
  }


  .fc-scroller,
  .fc-scroller-liquid-absolute{
    overflow: hidden;
  }

  .fc
  .fc-toolbar {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  #fc-dom-1{
    text-align: center;
    
  }


  /* 툴바의 버튼 */
.fc .fc-toolbar-chunk .fc-button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  color: rgb(95, 95, 95);
}

.fc-button-group{
  display: flex;
  justify-content:space-between !important;
}

/* 툴바 사용 불가 버튼 스타일 */
.fc .fc-toolbar-chunk .fc-button:disabled {
  color: rgb(139, 139, 139);
  background-color: rgb(243, 243, 243);
}

툴바 사용 불가 버튼 hover 시 스타일 주지 않기 
.fc .fc-toolbar-chunk .fc-button:disabled:hover {
   cursor: not-allowed;
} 

/* 툴바 버튼 포커스 시 그림자 제거 */
.fc .fc-toolbar-chunk .fc-button:focus {
  box-shadow: none;
}

/* 툴바 버튼 hover 시 배경색 변경 */
.fc .fc-toolbar-chunk .fc-button:hover {
  background-color: rgb(233, 231, 231);
  color: rgb(139, 139, 139);
}

/* 날짜변경 화살표 아이콘 */
.fc .fc-button-primary span {
  font-weight: 500;
  font-size: 28px;
}

  /* 일요일 날짜: 빨간색 */
  .fc .fc-day-sun a {
    color: rgb(230, 1, 1);
  }

  /* 토요일 날짜: 파란색 */
  .fc .fc-day-sat a {
    color: var(--main-color);
  }

.fc-daygrid-day-number{
  color: black;
}

.fc-today {
    background-color: var(--fc-today-bg-color);
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end, 
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
    margin-right: 0%;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end, 
.fc-direction-rtl .fc-daygrid-event.fc-event-end {
    margin-left: 0%;
}

.fc-h-event{
    background-color: rgba(243, 255, 8, 0.436); 
    border: 1px solid rgba(243, 255, 8, 0.226); 
    padding: 3px;
}

.MyCalendar_additionalEvent__i0+sh{
  color: black;
}

.fc-daygrid-event {
    border-radius: 0px;
    font-size: small;
    text-align: center;
    position: relative;
    white-space: nowrap;
}


.fc-col-header-cell-cushion,
.fc-daygrid-day-number
{
  text-decoration: none;
}

.fc-col-header-cell-cushion{
  color:#c4c2c2;
}



/* 스크롤바 */
.ScrollbarsCustom-Track, 
.ScrollbarsCustom-TrackY{
 background-color: rgb(246, 246, 246) !important;
}

.ScrollbarsCustom-Thumb, 
.ScrollbarsCustom-ThumbY{
  background-color: var(--main-color) !important;
}
