.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    height:100vh;
  }
  
  .sidebar {
    grid-column: 1;
  }
  
  .calendar_container {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 100%;
    padding: 0;
  }
  
 .countryLabel {
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    text-align: center;
    z-index: 10;
    background-color: var(--main-color); 
    border: 1px solid var(--main-color);
    padding: 1rem;
  }
  
  .expenseLabel {
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(220, 29, 29);
    margin-top: 2px;
    text-align: left;
    margin: 0.5rem;
    background-color: #fff;
    border: none;
  }
  