/* ********************   Calendar   ******************************/

.schedule_calendar_container {
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  height: 100%;
}

/* 팝업이 나타날 때 두 개의 컬럼 */
.schedule_calendar_container.show_popup {
  grid-template-columns: 3fr 1fr;
}

/* 팝업이 나타날 때 캘린더의 너비를 줄임 */
.schedule_calendar_container.show_popup .calendar_container {
  width: auto;
}

.calendar_container {
  display: grid;
  border: 1px solid var(--line-color);
  border-radius: 0.5rem;
  padding: 2rem; /* 전체 패딩 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 100%;
  max-height: auto;
  margin: 0 auto;
  background: var(--background-color);
  transition: width 0.3s ease-in-out;
  font-size: 1em;
}

/* 년월 부분 */
.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.centerSection {
  grid-column: 2;
  justify-self: center;
  display: flex;
  gap: 0.8em;
  align-items: center;
}

.yearSelect {
  border: 1px solid var(--line-color);
  border-radius: 0.2rem;
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 0.2rem 0.5rem;
  font-size: 0.9em;
}

.yearSelect:hover {
  cursor: pointer;
}

.yearSelect:focus {
  border-color: var(--main-color);
  outline: none;
}

.todayButton {
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  font-size: 0.7em;
  font-weight: 600;
  margin-left: -20px;
  margin-right: 10px;
}

.todayButton:hover {
  background-color: var(--second-color);
}

.navButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  color: var(--text-color);
  grid-column: 1;
  justify-self: start;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7개의 열을 동일한 너비로 설정 */
  padding: 10px 0;
}

.day {
  text-align: center;
  font-weight: 530;
  color: rgb(182, 192, 217);
  font-size: 1em;
  margin: 0 5px;
}

/* 일 */
.day:first-child {
  color: red;
}

/* 토 */
.day:last-child {
  color: blue;
}

.body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.row {
  display: contents;
}

/* 달력의 cell */
.cell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  cursor: pointer;
  height: 110px;
  overflow: hidden;
  padding: 0.5rem;
  box-sizing: border-box;
  position: relative;
  min-width: 14.28%; /* 7개의 셀을 균등하게 나누기 위해 설정 */
  border: 1px solid var(--line-color);
}

.number {
  position: relative;
  font-size: 0.8em;
  font-weight: 600;
  z-index: 2;
  margin-right: 0.5rem;
}

.eventTitle {
  position: absolute;
  z-index: 3;
  font-size: 0.6em;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  top: 1.8rem;
  color: #fff;
}

.cell_total_amount {
  font-size: 0.7em;
  font-weight: 500;
  color: var(--text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: auto;
}

.cellWithEvent {
  position: relative;
}

.cellWithEvent::after {
  content: '';
  display: block;
  width: 0;
  height: 1em;
  background-color: var(--point-color);
  position: absolute;
  top: 1.7rem;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; /* 애니메이션 설정 */
}

.cellWithEvent.animate::after {
  width: 100%;
  opacity: 1;
}

/* 요소들의 순서를 정의 */
.cell > .number {
  order: 1;
}

.cell > .eventTitleContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  order: 2;
  margin-top: auto;
}

.cell > .eventTitle {
  order: 3;
}

.cell > .cell_total_amount {
  order: 4;
  margin-top: auto;
}

/* 넘어가는 다음 달 표시 */
.disabled {
  color: #ccccccbb;
}

/* 오늘 날짜 표시 */
.selected {
  position: relative;
  border: 1px solid var(--main-color);
}

/* today 꾸미기 투꾸 */
.selected::before {
  content: '🐷';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border-radius: 0;
  position: absolute;
  top: 0.4rem;
  left: 1.6rem;
  z-index: 1000;
}

/* ****************            popup                  *************** */

.schedule_detail_container {
  background: var(--background-color);
  color: var(--text-color);
  padding: 1.5rem;
  border: 1px solid var(--line-color);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: auto;
}

.schedule_detail_header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
}

.icon {
  width: 0.6rem;
  height: auto;
  margin-right: 0.5rem;
}

.schedule_detail_header_container > p {
  font-size: 0.8em;
  font-weight: 500;
}

.schedule_detail_modalImage {
  min-width: 100%;
  height: 7rem;
  background-color: var(--gray-color);
  border-radius: 0.3rem;
  background-size: cover;
  background-position: center;
  margin: 0.5rem 0;
}

.schedule_detail_filter_buttons_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto 1fr;
  gap: 0.5rem;
  align-items: end;
  margin-bottom: 0.5rem;
}

.schedule_detail_filter_buttons_container button {
  border: none;
  cursor: pointer;
  background: none;
  color: var(--text-color);
  font-size: 0.7em;
  font-weight: 600;
}

.go_accountbook_detail_btn {
  grid-column: -1;
  background-color: var(--main-color) !important;
  color: #fff !important;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  font-size: 0.5em !important;
}

.selectedButton {
  font-weight: 700;
  color: var(--main-color) !important;
}

.expenseList {
  height: 100%;
  border-top: 1px solid var(--text-color);
  padding: 1rem 0.5rem;
}

/* 지출 내역 */
.categoryImg {
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
}

.expenseItem {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.expense_info {
  display: grid;
  align-items: center;
  grid-template-areas:
    'title curUnit amount expenseImg'
    'type type type type';
  grid-template-columns: 3fr auto auto auto;
  grid-template-rows: auto auto;
  flex-grow: 1;
  margin-left: 0.3rem;
}

.expense_title {
  grid-area: title;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.7em;
}

.expense_info > div {
  display: flex;
  justify-content: space-between;
}

.expense_curunit {
  grid-area: curUnit;
  font-size: 0.6em;
}

.expense_amount {
  grid-area: amount;
  font-size: 0.6em;
  text-align: left;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.accountbook_detail h5 {
  display: none;
}

.noExpenses {
  font-size: 0.7em;
  padding-left: 0.5rem;
}

.expenseImg {
  grid-area: expenseImg;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--gray-color);
}

/* 개인경비 || 공용경비 */
.type {
  grid-area: type;
  font-size: 0.5em;
  color: var(--gray-color);
  text-align: left;
}

.total_cost_container {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  padding: 0.5rem;
  font-size: 0.8em;
  border-top: 1px solid var(--text-color);
}

.total_cost_amount {
  font-size: 0.9rem;
  color: var(--main-color);
}

.schedule_detail_Buttons_container {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.7em;
  color: var(--text-color);
}

.closeButton:hover {
  color: var(--main-color);
  text-decoration: underline;
}

/* ***************************   반응형 ************************************* */

@media (max-width: 530px) {
  .schedule_calendar_container {
    font-size: 0.7rem;
  }

  .schedule_detail_container {
    font-size: 0.9rem;
  }

  .schedule_detail_content {
    grid-template-columns: 1fr !important;
    grid-template-areas:
      'title'
      'button'
      'expense'
      'close' !important;
  }

  .schedule_detail_header_container {
    padding: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: none !important;
  }

  .schedule_detail_filter_buttons_container {
    padding: 0.5rem;
    align-self: end !important;
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 0;
  }

  .schedule_detail_modalImage {
    display: none;
  }

  .accountbook_detail {
    background-color: var(--background-color) !important;
    padding-top: 0 !important;
  }

  .schedule_detail_Buttons_container {
    grid-area: close;
    margin: 0.5rem 0;
    padding-top: 1.5rem;
    font-size: 1.2em;
    border-top: 1px solid var(--text-color);
  }

  .accountbook_detail h5 {
    display: none !important;
  }

  .cell_total_amount {
    font-size: 0.5em !important;
  }
}

@media (max-width: 767px) {
  .my_calendar_container {
    display: grid;
    grid-template-rows: 1fr;
    gap: 1rem;
    height: 100vh;
    transition: grid-template-rows 0.3s ease;
  }

  .schedule_calendar_container {
    display: contents;
  }

  .calendar_container {
    overflow: auto;
    height: 65vh;
    transition: height 0.3s ease;
  }

  .cell_total_amount {
    font-size: 0.7em;
  }

  .detail_container {
    max-width: 100%;
    transition: height 0.3s ease;
  }

  .selected::before {
    display: none;
  }

  .show_popup .my_calendar_container {
    grid-template-rows: 1fr 2fr;
  }

  .show_popup .calendar_container {
    height: 35vh;
  }

  .show_popup .detail_container {
    height: 65vh;
  }

  .show_popup .cell {
    height: auto;
    min-height: 2rem;
    padding: 0;
  }

  .show_popup .cell .eventTitle,
  .show_popup .cell .cell_total_amount {
    display: none;
  }

  .show_popup .cell .number {
    font-size: 0.8em;
    margin: auto;
  }

  .schedule_detail_container {
    width: 100%;
    padding: 1rem;
  }

  .schedule_detail_content {
    display: grid;
    align-items: center;
    grid-template-areas:
      'title title'
      'button expense'
      'image expense'
      'close close';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 1fr auto;
    gap: 1rem;
  }

  .schedule_detail_header_container {
    grid-area: title;
    border-bottom: 1px solid var(--text-color);
    padding-bottom: 1rem;
  }

  .schedule_detail_modalImage {
    grid-area: image;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }

  .schedule_detail_filter_buttons_container {
    grid-area: button;
    align-self: start;
  }

  .accountbook_detail {
    grid-area: expense;
    background-color: var(--light-color);
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .schedule_detail_Buttons_container {
    grid-area: close;
    margin: 0.5rem 0;
    padding-top: 1.5rem;
    font-size: 1.2em;
    border-top: 1px solid var(--text-color);
  }

  .accountbook_detail h5 {
    display: block;
    border-bottom: 1px solid var(--text-color);
    padding: 0.5rem;
  }

  .expenseList {
    border-top: none;
  }

  .schedule_detail_filter_buttons_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto 1fr;
    align-items: center;
  }

  .expenseList {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
  }

  .selected::before {
    background-color: transparent;
    top: 0.55rem;
    z-index: 1000;
  }

  .schedule_detail_filter_buttons_container button {
    font-size: 0.85rem;
  }

  .schedule_detail_header_container {
    font-size: 1.25rem;
  }

  .schedule_detail_header_container > p {
    font-size: 0.9rem;
  }

  .type {
    margin-left: 4px;
  }

  .total_cost_amount {
    margin-left: 10px;
  }

  .icon {
    width: 8px;
  }

  .cell {
    height: 60px;
  }

  .header {
    height: 25px;
  }

  .go_accountbook_detail_btn {
    grid-column: -1;
  }

  .customScrollbar {
    height: 100px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .go_accountbook_detail_btn {
    grid-column: -1;
  }
}
