.myinfo_page{
    display: flex;
}

.myinfo_container {
    
    margin-left: 25px;
    margin-top: 1rem;
  }
  
  .myinfo_item {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .myinfo_item li:nth-child(odd) {
    color: #2A52BE;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 7px;
    letter-spacing: -1px;
  }
  
  .myinfo_item li:nth-child(even) {
    color: rgb(145, 145, 145);
    border: 1px solid rgb(145, 145, 145);
    width: 370px;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 2%;
    font-size: 11px;
  }

  .deleteMember{
    margin-top: 6%;
    padding: 6px;
    margin-left: 5px;
    font-size: small;
    color:rgb(145, 145, 145) ;
    letter-spacing: -1px;
    &:hover {
        font-weight: bold;
        text-decoration: underline;
        color:rgb(119, 119, 119);
        cursor: pointer;
    }

  }
  