.header h2 {
  color: var(--main-color);
}

.chart_section {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  gap: 1rem 2rem;
  align-items: center;
  justify-items: center;
}

.summary {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.doughnutChart {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  height: 100%;
}

.barChart_paymentMethod {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-items: center;
  height: 7rem;
  width: 80%;
  padding: 0.8rem;
  justify-self: start;
  background-color: var(--light-color);
  border-radius: 1rem;
}

.barChart_paymentMethod span {
  font-size: 1rem;
  font-weight: 700;
  margin-right: 1rem;
}

.barChart {
  background-color: var(--opposite-color);
  border-radius: 1rem;
  padding: 0.5rem;
  width: 80% !important;
}

.total_expenses {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  width: 90%;
  background-color: var(--light-color);
  padding: 1rem;
  border-radius: 0.5rem;
  justify-self: start;
}

.total_amount {
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  padding-left: 5rem;
}

.barChart_expense {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  width: 100%;
}

.decoImg {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.decoImg img {
  height: 7rem;
}

.total_expenses span{
  color: var(--text-color);
  font-weight: 700;
}

.summary p {
  font-size: 1em; 
  font-weight: 700; 
  margin-bottom: 20px;
  white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
  overflow: hidden; /* 텍스트가 박스를 넘어서지 않도록 설정 */
  text-overflow: ellipsis;
}

.highlight_category {
  color: green;
  font-weight: 700;
  font-size: 1.5em; 
}

.highlight_paymentMethod {
  color: blue;
  font-weight: 700;
  font-size: 1.5em; 
}

.no_account_book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: #666;
  font-size: 1.2rem;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.no_account_book_icon {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #ccc;
}
