.dashboard_container {
  display: flex;
}

.content {
  padding: 20px;
  flex-grow: 1;
}

.header h1 {
  font-size: 35px;
  margin-bottom: 20px;
  color: #3b82f6;
  font-weight: 700;
}

.chart_section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items vertically at the start */
}

.chart_container {
  width: 500px; /* 도넛차트 넓이 */
  height: 400px; /* 도넛 차트 높이 */
}

.summary {
  margin-bottom: 20px;
  width: 100%; /* summary를 감싸는 박스의 너비를 100%로 설정 */
}

.summary p {
  font-size: 24px; 
  font-weight: bold; 
  margin-bottom: 20px;
  white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
  overflow: hidden; /* 텍스트가 박스를 넘어서지 않도록 설정 */
  text-overflow: ellipsis; /* 텍스트가 넘칠 경우 생략 부호(...) 표시 */
}

.highlight_category {
  color: green;
  font-weight: bold;
  font-size: 28px; 
}

.highlight_paymentMethod {
  color: blue;
  font-weight: bold;
  font-size: 28px; 
}

.payment_summary_container {
  display: flex;
  flex-direction: column; /* 세로 정렬을 위해 column으로 변경 */
  align-items: center; /* 수평 정렬을 위한 flex 설정 */
  width: 300px; /* 고정 너비 추가 */
  margin-right: 20px; /* 오른쪽에서 살짝 띄우기 */
}

.payment_summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px; /* 세로 폭 줄이기 */
  width: 150%; /* 부모 컨테이너의 너비에 맞춤 */
  margin-right: 300px;
}

/* 총 지출 */
.total_expenses {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #3b82f6;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  width: 150%; /* 부모 컨테이너의 너비에 맞춤 */
  margin-top: 20px; /* 적절한 간격 추가 */
  margin-right: 300px;
}

.total_expenses span:first-child {
  margin-right: 10px;
}

.total_amount {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.bar_container {
  width: 40%; /* 막대 차트 너비 */
  height: 300px; /* 막대 차트 높이 */
  margin-top: -100px; /* 결제 수단 막대 차트와의 간격 조정 */
  margin-left: auto; /* 오른쪽으로 붙이기 */
  margin-right: 100px; /* 오른쪽에서 살짝 띄우기 */
}

.currency_label {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;
  text-align: right;
}

.no_account_book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: #666;
  font-size: 1.2rem;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.no_account_book_icon {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #ccc;
}
