.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.header .currency_label {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--text-color);
}

.header h2 {
  color: var(--main-color);
}

.chart_section {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  gap: 2rem 1rem;
  align-items: center;
  justify-items: center;
}

.summary {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-right: 2rem;
}

.doughnutChart {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  height: 100%;
}

.barChart_paymentMethod {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  padding: 0.8rem;
  background-color: var(--light-color);
  border-radius: 1rem;
}

.barChart_paymentMethod span {
  font-size: 1rem;
  font-weight: 700;
  margin-right: 1rem;
}

.barChart {
  background-color: var(--background-color);
  border-radius: 1rem;
  padding: 0.5rem;
  width: 80% !important;
  height: 100%;
}

.total_expenses {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  align-self: end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--light-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.total_amount {
  background-color: var(--background-color);
  border-radius: 0.5rem;
  padding: 1rem 0;
  margin-top: 0.3rem;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.barChart_expense {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
}

.total_expenses span{
  color: var(--text-color);
  font-weight: 700;
}

.summary p {
  font-size: 1em; 
  font-weight: 700; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.highlight_userName {
  color: var(--pointor-color);
  font-weight: 700;
  font-size: 1.5em; 
}

.highlight_category {
  color: green;
  font-weight: 700;
  font-size: 1.5em; 
}

.highlight_paymentMethod {
  color: blue;
  font-weight: 700;
  font-size: 1.5em; 
}

.no_account_book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: var(--text-color);
  font-size: 1.2rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--light-color);
}

.no_account_book_icon {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--second-color);
}
