.updatePassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 0.85em; /*13.5px*/
  font-weight: bold;
  letter-spacing: -1px;
  color: #333;
  margin-top: 2%;
  margin-bottom: 1%;
}

.updatePassword_content {
  width: auto;
  padding: 20px;
}

.updatePassword_container_header {
  justify-content: center;
  height: auto;
  margin-bottom: 8px;
  text-align: center;
}

.updatePassword_container_header p:first-of-type {
  font-weight: bold;
  font-size: 2em;
  padding: 0%;
  letter-spacing: -3px;
  margin-bottom: 4px;
}

.updatePassword_container_header p:last-of-type {
  color: #909090;
  font-size: 0.9em;
  padding: 1rem;
  letter-spacing: -1px;
}

.updatePassword_form {
  flex-direction: column;
  gap: 10px;
}

.updatePassword_error {
  font-size: 0.75em; /* 11px */
  color: rgb(145, 145, 145);
  margin-top: 1%;
  margin-bottom: 3%;
  letter-spacing: -1px;
}

/*비밀번호 컨테이너*/
.updatePassword_input_seepw_container {
  position: relative;
}

.updatePassword_input_pw {
  color: rgb(145, 145, 145);
  border: 1px solid #657df9;
  width: 500px;
  border-radius: 5px;
  padding: 2%;
  margin-top: 1%;
}

.toggle_pw_button {
  position: absolute;
  right: 40px;
  top: 45%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}

/*비밀번호 확인 컨테이너*/
.updatePassword_input_seecheckpw_container {
  position: relative;
}

.updatePassword_input_checkpw {
  color: rgb(145, 145, 145);
  border: 1px solid #657df9;
  width: 500px;
  border-radius: 5px;
  padding: 2%;
  margin-top: 1%;
}

.toggle_checkpw_button {
  position: absolute;
  right: 40px;
  top: 45%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.updatePassword_actions {
  margin-top: 30px;
  text-align: center;
}

.updatePassword_button {
  background-color: #657df9;
  color: whitesmoke;
  border: 1px solid #657df9;
  border-radius: 5px;
  padding: 1.5%;
  width: 175px;
  margin-top: 2em;
  letter-spacing: -1px;
  &:hover {
    cursor: pointer;
    font-weight: bold;
    background-color: #002266;
    border: 1px solid #002266;
  }
}

/* 미디어 쿼리 */
@media (max-width: 1024px) {
  .updatePassword_input_pw,
  .updatePassword_input_checkpw {
    width: 100%;
    padding: 2%;
  }

  .toggle_pw_button,
  .toggle_checkpw_button {
    right: 10px;
  }
}

@media (max-width: 768px) {
  .updatePassword_container_header p:first-of-type {
    font-size: 1.75rem;
  }

  .updatePassword_container_header p:last-of-type {
    font-size: 0.875rem;
  }

  .updatePassword {
    font-size: 0.8rem;
  }

  .updatePassword_error {
    font-size: 0.625rem;
  }

  .updatePassword_input_pw,
  .updatePassword_input_checkpw {
    font-size: 0.6rem;
  }

  .updatePassword_button {
    width: 150px;
    padding: 1.25%;
    font-size: 0.6rem;
  }
}

@media (max-width: 480px) {
  .updatePassword {
    height: auto;
    padding: 10px;
  }

  .updatePassword_container_header p:first-of-type {
    font-size: 1.5rem;
  }

  .updatePassword_container_header p:last-of-type {
    font-size: 0.75rem;
  }

  .updatePassword {
    font-size: 0.75rem;
  }

  .updatePassword_error {
    font-size: 0.5625rem;
  }

  .signup_actions.signup_button {
    width: 100%;
    padding: 1rem;
  }

  .updatePassword_actions.updatePassword_button {
    width: 100%;
    padding: 1rem;
  }

  .updatePassword_input_pw,
  .updatePassword_input_checkpw {
    width: 100%;
    padding: 1.5%;
  }

  .toggle_pw_button,
  .toggle_checkpw_button {
    right: 10px;
  }
}
