.pageContainer {
  position: relative;
  width: 100%;
  height: 600vh;
  display: grid;
  grid-template-rows: repeat(6, 100vh);
}

.bgImg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.header {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  cursor: pointer;
  padding: 0.5rem;
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

section img {
  max-width: 100%;
  height: auto;
}

/* section1 */
.section1 {
  overflow: hidden;
  padding-top: 100px;
}

.sec1_textContainer {
  font-size: 1rem;
  text-align: center;
  color: #FFFFFF;
}

.login_button {
  padding: 10px 30px;
  font-size: 1em;
  color: white;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* section4 */
.section4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 1rem;
  padding: 1rem;
}

.section4 .box {
  background: #FFFFFF;
  box-shadow: 0px 4px 16px -8px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 2rem;
}

.section4 .box h1, 
.section4 .box p {
  margin: 0;
  padding: 1rem;
  text-align: left;
}

.section4 .box p {
  color: #bbbbbb;
  line-height: 1.8;
}

.section4 .box_center {
  background: linear-gradient(90deg, #007BFF 0%, #62AEFF 100%);
  box-shadow: 0px 4px 16px -8px rgba(0, 0, 0, 0.08);
  color: #FFFFFF;
}

.section4 .box_center img {
  width: 100px;
  height: auto;
}

.section4 .box_center h1, 
.section4 .box_center p {
  color: #FFFFFF;
  margin: 1rem 0;
}

.section4 .box_top {
  grid-column: 1 / 4;
}

.section4 .box_left {
  grid-column: 1 / 2;
}

.section4 .box_center {
  grid-column: 2 / 3;
}

.section4 .box_right {
  grid-column: 3 / 4;
}

.section4 .box_bottom_center {
  grid-column: 1 / 2;
}

.section4 .box_bottom_right {
  grid-column: 2 / 3;
}

/* section5 */
.section5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* section6 */
.section6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section6 .title {
  margin-top: 1rem;
}

.section6 .detail {
  margin-top: 1rem;
}
