.addAccount_form_title {
  margin-bottom: 1rem;
}

.addAccount_form {
  display: flex;
  flex-direction: column;  
}

.addAccount_formGroup {
  position: relative;
  margin: 0.1rem 0;
}

.addAccount_formGroup label {
  display: block;
  margin-bottom: 0.1rem;
  font-weight: 700;
  font-size: 0.9em;
  color: var(--main-color);
}

/* 여행기간 */
.addAccount_dateRange {
  display: flex;
  align-items: center;
}

.addAccount_dateRange input {
  flex: 1;
}

.addAccount_dateRange span {
  margin: 0 1rem;
}

/* 여행국가 */
.search_button {
  background: none;
  border: none;
  position: absolute;
  right: 10px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search_button img {
  width: auto;
  height: 0.8rem;
}

.country_input {
  display: flex;
  align-items: center;
}


.selectedCountry {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  margin-top: 0.2rem;
  width: 100%;
  border: 1px solid var(--line-color);
  border-radius: 0.3rem;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: border-color 0.3s;
}


.selectedCountry img.flag {
  width: auto;
  height: 1rem;
  margin-right: 10px;
}

.selectedCountry span {
  font-size: 0.8rem;
}

/* 여행이름 */
.addAccount_title_count {
  font-size: 0.7em;
  text-align: right;
  margin-left: auto;
  letter-spacing: -1px;
  font-weight: 500;
  color: var(--gray-color);
}

.addAccount_button {
  margin-top: 1rem;
}