.addAccountBookContainer {
    width: 100%;
    font-size: 1rem;
  }

  .addAccount_button {
    padding: 0.6rem;
    width: 30%;
    background-color: #2952BE;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
  }
  
  .addAccount_form {
    display: flex;
    flex-direction: column;
  }
  
  .addAccount_formGroup {
    margin-bottom: 1rem;
  }
  
  .addAccount_formGroup label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1em;
    color: #4568DC;
  }
  
  .addAccount_dateRange {
    display: flex;
    align-items: center;
  }
  
  .addAccount_dateRange input {
    flex: 1;
  }
  
  .addAccount_dateRange span {
    margin: 0 1rem;
  }
  
  .addAccount_formGroup input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--line-color);
    border-radius: 0.5rem;
    font-size: 0.8em;
  }