.mainpage_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.addAccountBook {
  grid-column: 1 / 2;
  width: 100%;
  height: auto;
}

.recentAccountBooks {
  grid-column: 2 / 3;
  width: 100%;
  height: auto;
  margin-top: 2.5rem;
}

/******************************************************************************************/
/*최근 내 가계부 : RecentAccountBooks*/

.recent_accountBooks_container {
  flex: 1;
  padding: 1.5rem;
  border: solid 1px var(--line-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.recent_accountBooks_header {
  display: block;
  font-weight: 800;
  font-size: 1em;
  color: var(--main-color);
  margin-bottom: 1rem;
  align-self: flex-start;
}

.recent_accountBooks_contents {
  flex: 1;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.recent_accountBooks_navigation_buttons button {
  background: none;
  color: var(--main-color);
  box-shadow: 1px 1px 1px 1px var(--line-color);
  border: none;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  font-size: 0.8em;
}

.recent_accountBooks_navigation_buttons button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.recent_accountBooks_list {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin: 0 auto;
  position: relative;
  overflow-x: auto;
  justify-content: center;
  gap: 1rem;
}

.recent_accountBooks_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid var(--line-color);
  overflow: hidden;
  border-radius: 1rem;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  position: relative;
  aspect-ratio: 2 / 1;
}

.recent_accountBooks_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 0.5rem;
}

.recent_accountBooks_item_contents {
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: #ffffff;
  align-items: flex-start;
  width: 100%;
}

.recent_accountBooks_item_header {
  display: flex;
  align-items: center;
}

.recent_accountBook_item_flag {
  margin-right: 0.5rem;
}

.recent_accountBook_item_flag img {
  height: 1rem;
}

.recent_accountBooks_item_title {
  text-align: left;
  font-weight: 700;
  font-size: 1em;
  padding-bottom: 0.1rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.recent_accountBooks_item_dates {
  font-size: 0.7em;
}

.recent_accountBooks_item_amount {
  position: absolute;
  font-size: 0.8em;
  bottom: 12px;
  right: 15px;
  z-index: 2;
}

/******************************************************************************************/
/* 실시간 인기 여행지 top5 : TopDestinations*/
.topDestinationsTitle{
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1em;
  color: var(--main-color);
  margin-top: 0;
}

.swiperContainer {
  width: 80%;
  min-height: 100%;
  max-width: 340px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.mySwiper {
  width: 100%;
  height: 516px;
}

.swiperSlide {
  padding-top: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  
  background-size: cover;
  background-position: center;
}

.slideImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.slideText {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 5px 10px;
  font-weight: bold;
}
