.usersPage {
  display: flex;
}

.content {
  flex: 1;
  padding-left: 5%;
  padding-right: 5%;
  overflow-y: auto; /* 세로 스크롤을 위한 설정 */
  max-width: 100%; /* 최대 너비를 100%로 설정 */
  box-sizing: border-box; /* 패딩과 경계 상자를 포함한 전체 너비를 사용 */
}

.no_memberList {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: var(--text-color);
  font-size: 1.2rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--light-color);
}

.no_memberList_icon {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--second-color);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1%;
}

.title {
  font-size: 130%;
  font-weight: bold;
  color: var(--main-color);
}

.statistics {
  margin-bottom: 1%;
  font-size: 90%;
}

.statistics span {
  font-weight: bold;
  color: var(--main-color);
}

.memberList_container {
  overflow-x: auto; /* 가로 스크롤을 위한 설정 */
}

.memberList {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.sorttype_container {
  float: right;
}

.sorttype {
  position: relative;
  display: inline-block;
  margin-bottom: 0.7em;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 5px var(--shadow-color);
}

.memberList th,
.memberList td {
  border: 1px solid var(--line-color);
  padding: 1% 1%;
  font-size: 70%;
  text-align: center;
  white-space: nowrap; /* 텍스트가 넘치지 않도록 */
  overflow: hidden; /* 넘치는 부분 숨김 */
  text-overflow: ellipsis; /* 넘치는 부분에 생략 부호 표시 */
}

.memberList th {
  background-color: var(--main-color);
  font-weight: bold;
  color: white;
}

.memberList th:first-child {
  width: 10%;
}

.memberList th:nth-child(4) {
  width: 10%;
}

.memberList th:nth-child(5) {
  width: 20%;
}

.memberList th:nth-child(6) {
  width: 10%;
}

.memberList tr:hover {
  background-color: #bfc9ff;
}

.img_socialtype {
  width: 25%;
  height: 25%;
}

.delete_icon {
  color: var(--line-color);
  font-size: 120%;
  cursor: pointer;
}

.pagination {
  display: flex;
  font-size: 80%;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.prev_button,
.next_button {
  color: var(--background-color);
  background-color: #657df9;
}

.pagination span {
  cursor: pointer;
  padding: 0.5% 1%;
  margin: 0 1%;
  border-radius: 4px;
}

.pagination .activePage {
  transition: background-color 0.3s ease;
  font-weight: bold;
  color: var(--background-color);
  background-color: #bfc9ff; /* 진하게 표시할 배경색 */
}

.pagination .notActivePage:hover {
  background-color: #f0f0f0;
}
