.expenseStatistic_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  text-align: right;
}

.expenseStatistic_content {
  display: flex;
  flex-direction: column;
}

.expenseStatistic_total {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

/* 일자별 지출, 지출 한눈에 보기 TITLE */

.chartsWrapper_title,
.categorySelection_title {
  font-size: 1em;
  font-weight: 600;
  padding: 1rem 0;
  text-align: left;
}

.expenseStatistic_date_container {
  display: grid;
  grid-template-columns: 1fr;
}

.expenseStatistic_chartTitle {
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--text-color);
}

.expenseStatistic_day_selectContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.chartsWrapper_chart {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5rem;
}

.expenseStatistic_chartContainer {
  flex: 1;
  margin-top: 1rem;
  padding: 2rem;
  box-sizing: border-box;
  border: 1px solid var(--line-color);
  border-radius: 10px;
  min-width: 300px;
  width: 100%;
  background-color: var(--background-color);
}

.barChartWrapper {
  width: 100%;
  height: 300px;
}

.categoryChart,
.paymentChart {
  width: 100%;
  height: 100%;
}

.categorySelection__checkboxGroup {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 0.3rem;
  margin-bottom: 1rem;
}



.labelContainer {
  align-items: center;
  margin: 0.3rem;
  font-size: 0.8rem;
}

.expenseStatistic_lineChartContainer {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: var(--background-color);
  border-radius: 8px;
  border: 1px solid var(--line-color);
  padding: 2rem;
}

.expenseStatistic_lineChartWrapper {
  flex: 1;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: auto; /* 가로 스크롤 활성화 */
}

.lineChart {
  min-width: 600px;
  height: 100%;
}


/* 헤더 화폐단위  */
.header_currencyLabel {
  display: flex;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--gray-color);
}

.currencyLabel_icon {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.3rem;
}

.currencyUnit {
  color: var(--text-color);
}

@media (max-width: 768px) {
  .chartsWrapper_chart {
    flex-direction: column;
    gap: 1rem;
  }

  .expenseStatistic_chartContainer {
    width: 100%;
  }

  .expenseStatistic_lineChartWrapper {
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .lineChart {
    width: 100%;
    min-width: 480px;
    min-height: 240px;
  }
}
