.budgetContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.budgetHeader {
  font-weight: bold;
  color: var(--text-color);
}

.budgetHeader > div {
  margin-bottom: 4px;
}


.highlight{
  color: var(--pointor-color);
  margin-right: 5px;
  margin-left: 5px;
  font-size: 1.3em;
}