.updatePassword_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.updatePassword_container {
  width: 400px;
  margin: 0 auto;
}

/* 헤더 */
.updatePassword_header h2 {
  color: var(--main-color);
  margin-bottom: 0.5rem;
  text-align: center;
}

.updatePassword_header p {
  color: var(--gray-color);
  font-size: 0.8em;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center;
}

.updatePassword_header {
  text-align: center;
  margin-bottom: 2rem;
}

.updatePassword_formGroup {
  position: relative;
}

.updatePassword_form {
  display: flex;
  flex-direction: column;
}

.updatePassword_formGroup label {
  display: block;
  font-weight: 600;
  font-size: 0.8em;
  margin-bottom: 0.1rem;
}

.error_container {
  height: 1.5rem;
}

.updatePassword_input_seepw_container {
  position: relative;
  width: 100%;
}

.toggle_pw_button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-30%);
  background: none;
  border: none;
  cursor: pointer;
}

.updatePassword_button {
  margin: 1rem 0;
  text-align: center;
}
