@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

:root {
	--component-padding: 0 3rem;
	--main-color:#657DF9;
	--point-color:#E89B29;
	--line-color:#E8E8E8;
}

.inner {
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
}

h1, h2, h3, h4, h5, h6, span, p, div, button, input {
    word-break: keep-all;
    white-space: pre-wrap;
	font-family: "Noto Sans KR", "Inter", "Open Sans", "malgun gothic","Nanum Gothic", "";
}

*,:after,:before {
    box-sizing: border-box;
}