html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Noto Sans KR", "Inter", "Open Sans", "Malgun Gothic", "Nanum Gothic", sans-serif;
}

:root {
    --component-padding: 0 3rem;
    --main-color: #4568DC;
    --bold-color: #392385;
    --second-color: #4C66F8;
    --light-color: #EFF3FF;
    --pointpk-color: #FF8BD2;
    --pointor-color: #E89B29;
    --line-color: #E8E8E8;
}

.inner {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

h1, h2, h3, h4, h5, h6, span, p, div, button, input {
    word-break: keep-all;
    white-space: pre-wrap;
    font-family: "Noto Sans KR", "Inter", "Open Sans", "Malgun Gothic", "Nanum Gothic", sans-serif;
}

*, :after, :before {
    box-sizing: border-box;
}